**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/logs
**/.gitignore
**/.gitattributes
**/README.md
**/LICENSE.txt
**/DOCKER_REHBERI.md
**/*.user
**/*.suo
**/node_modules
**/.env
**/docker-compose*.yml
**/Dockerfile
**/.github
